.border-table,
tr {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0.5px solid var(--white-light);
}

th,
td {
  text-align: left;
  padding: 8px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  width: 300px;
  height: 40px;
}

.search-option {
  border: none;
  background: white;
  padding: 10px;
  font-size: 16px;
}

.search-input {
  border: none;
  background: white;
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.search-button {
  border: none;
  background: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

